{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block content %}
<style>
.tab-content > .tab-pane{
    display: none!important;
}
.tab-content > .active{
    display: block!important;
}
</style>
<img src="https://picjumbo.com/wp-content/uploads/error-in-php-wordpress-code_free_stock_photos_picjumbo_hnck2360-2210x1474.jpg" id="imghome2">

       
        <ul class="nav nav-tabs row">
            <li class="nav-item col-4 px-0" id="admin">
                <a href="javascript:void(0);" data-target="#profile" class="nav-link h3 my-0" aria-controls="profile" aria-selected="false" data-toggle="tab" id="profile-tab" role="tab">Offers</a>
            </li>
            <li class="nav-item col-4 px-0" id="admin">
                <a href="javascript:void(0);" data-target="#projects" class="nav-link h3 my-0 active show" aria-controls="projects" aria-selected="true" data-toggle="tab" id="projects-tab" role="tab">Customers</a>
            </li>
            <li class="nav-item col-4 px-0" id="admin">
                <a href="javascript:void(0);" data-target="#contact" class="nav-link h3 my-0" aria-controls="contact" aria-selected="false" data-toggle="tab" id="contact-tab" role="tab">Contact</a>
            </li>
        </ul>
        
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content my-2" id="myTabContent">
                        <!-- First tab -->
                        <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row text-center">
                                <div class="col-12">
                                    <h2 class="display-4">Offers</h2>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid rounded-circle p-3" src="JG2.png" alt="Card image">
                                </div>
                                <div class="col-8 text-left">
                                   <form method="POST" action="{{ path('offers_add') }}" accept-charset="UTF-8" id="candidateForm" role="form" data-parsley-validate="" enctype="multipart/form-data"><input name="_token" type="hidden" value="UYfchy67WuTVzhSstPK1RDZEIfgqpKCcLnLyhf8a">
            <section class="section-padding">
                <div class="container">
                    <div class="row">
                        <h3 class="text-extrabold">Your personal informations</h3>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <select id="gender" name="job_type">
                                    <option value="">Choose an option...</option>
                                    <option value="Fulltime">Fulltime</option>
                                    <option value="Part_time" selected="selected">Part time</option>
                                    <option value="Temporary">Temporary</option>
                                    <option value="Freelance">Freelance</option>
                                    <option value="Seasonal">Seasonal</option>
                                </select>
                                <label for="job_type" class="active">Job_type</label>
                            </div>
                            
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <input type="text" class="form-control" name="reference" id="first_name" value="" required>
                                <label for="reference">Reference</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <input type="text" class="form-control" name="job_title" id="job_title" value="" required>
                                <label for="reference">Job Title</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <input type="text" class="form-control" name="compagny_name" id="last_name" value="" required>
                                <label for="compagny_name">Compagny name</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <input required="required" id="contact_name" name="contact_name" type="text" value="">
                                <label for="contact_name">Contact name </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <input id="address" name="contact_email" type="email" value="">
                                <label for="contact_email">Contact email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="input-field">
                                        <input id="number" name="number" type="text" value="">
                                        <label for="number">Number</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="input-field">
                                        <input id="description" name="description" type="text" value="">
                                        <label for="description">Description</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="input-field">
                                        <input class="datepicker" id="location" name="location" type="text" value="">
                                        <label for="location">Location</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="input-field">
                                        <input id="closing_date" name="closing_date" type="text" value="">
                                        <label for="closing_date">Closing_date</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="input-field">
                                        <input id="salary" name="salary" type="text" value="">
                                        <label for="salary">Salary</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-40">
                    
                        <div class="col-xs-12 col-sm-6">

                           
                        </div>

                        <div class="col-xs col-sm">
                            <div class="col-xs-12 col-sm-12">
                                <div class="input-field" style="margin-top: 5px;">
                                    <select id="job_category" name="job_category" multiple data-placeholder="Type in or Select job sector you would be interested in.">
                                        <option value="">Choose an option...</option>
                                        <option value="commercial">Commercial</option>
                                        <option value="retail">Retail sales</option>
                                        <option value="creative">Creative</option>
                                        <option value="technology">Technology</option>
                                        <option value="marketing">Marketing & PR</option>
                                        <option value="fashion">Fashion & luxury</option>
                                        <option value="management">Management & HR</option>

                                    </select>
                           
                                    <label for="job_category" class="active"> job sector</label>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="input-field">
                                <textarea class="materialize-textarea" id="description" name="note" cols="50" rows="10"></textarea>
                                <label for="Note">Short description .</label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-padding gray-bg">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="#!" class="btn btn-block btn-lg border primary waves-effect waves-light"><i class="fa fa-long-arrow-left"></i> Back home</a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
                            <button type="submit" class="btn btn-block btn-lg gradient secondary waves-effect waves-light">
                                <span><strong>ADD</strong> NOW</span>
                            </button>
                        </div>
                    </div>

                </div>
            </section>
        </form>
                                   

                        
                                </div>
                            </div>
                        </div>
                        <!-- Second tab -->
                       <div class="tab-pane fade active show" id="projects" role="tabpanel" aria-labelledby="profile-tab">
                            
                            <div class="row">
                               
                    
                                   <form method="POST" action="{{ path('customers_add') }}" accept-charset="UTF-8" id="candidateForm" role="form" data-parsley-validate="" enctype="multipart/form-data"><input name="_token" type="hidden" value="UYfchy67WuTVzhSstPK1RDZEIfgqpKCcLnLyhf8a">
            <section class="section-padding">
                <div class="container">
                    <div class="row">
                        <h3 class="text-extrabold">Add Customers</h3>
                        <div class="clearfix visible-sm"></div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <input type="text" class="form-control" name="compagny_name" id="last_name" value="" required>
                                <label for="compagny_name">Compagny name</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <input type="text" class="form-control" name="compagny_type" id="last_name" value="" required>
                                <label for="compagny_name">Compagny type</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <input required="required" id="contact_name" name="contact_name" type="text" value="">
                                <label for="contact_name">Contact name </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <input required="required" id="contact_post" name="contact_post" type="text" value="">
                                <label for="contact_name">Contact post </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="input-field">
                                        <input id="contact_number" name="contact_number" type="text" value="">
                                        <label for="contact_number">Contact Number</label>
                                    </div>
                                </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <input id="address" name="contact_email" type="email" value="">
                                <label for="contact_email">Contact email</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
                                <textarea class="materialize-textarea" id="description" name="note" cols="50" rows="10"></textarea>
                                <label for="Note">Short description .</label>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </section>

            <section class="section-padding gray-bg">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="#!" class="btn btn-block btn-lg border primary waves-effect waves-light"><i class="fa fa-long-arrow-left"></i> Back home</a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
                            <button type="submit" class="btn btn-block btn-lg gradient secondary waves-effect waves-light">
                                <span><strong>ADD</strong> NOW</span>
                            </button>
                        </div>
                    </div>

                </div>
            </section>
        </form>
                                   

                        
                                </div>
                            </div>
                        </div>
                        <!-- Third tab -->
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact">
                            <div class="row text-center">
                                <div class="col-12">
                                    <h2 class="display-4">Candidates</h2>
                                    <hr>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">ID Offers</th>
                                    <th scope="col">ID Users</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                {% for candidate in candidates %}
                                    <tr>
                                    <th scope="row">1</th>
                                    <td>{{ candidate.id }}</td>
                                    <td>{{ candidate.offers.idOffer }}</td>
                                    <td>{{ candidate.users.idUser }}</td>
                                    <td><form method="post" action="{{ path('candidates_delete', {'Id': candidate.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                            <input type="hidden" name="candidate_id" value="{{ candidate.id }}">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                            








                        </div>
                    </div>
                </div>
            </div>

        </div>
    
    
{% endblock %}