{% extends 'base.html.twig' %}

{% block title %}Offers index{% endblock %}

{% block content %}

 <img src="https://picjumbo.com/wp-content/uploads/rialto-bridge-venice-2210x1473.jpg" alt="Smiley face" id="imghome"> 
 <!-- Page -->
    <div class="page">

    <!-- Page Content-->
        	<section class="full-width promo-box brand-bg ptb-50">
		<div class="container">
			<div class="col-md-12">
				<div class="promo-info">
					<span class="white-text text-uppercase">Wether you are the captain or owner of the yacht</span>
					<h3 class="white-text text-bold text-uppercase no-margin">KYS will accompany you every step of the way during the recruitment processes</h3>
				</div>
				<div class="promo-btn">
					<a href="https://www.k-yachtingservices.com/contact" class="btn border secondary waves-effect waves-light">Contact Us</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section-padding">
		<div class="container">
			<div class="text-center">
				<h2 class="section-title">Who We are</h2>
				<p class="section-sub">Our <b>Crew placement agency</b> is based in <b>Juan les Pins</b>, on the <b>French Riviera</b>. We ensure <b>quality</b> and <b>trustworthy recruitment</b>. So let’s sail away together ...</p>
			</div>
			<br>
			
				
					
						
							
							
							
						
						
							
							
							
						
						
							
							
							
						
					
				
			
			
			<div class="row">
				<div class="col-sm-6">
					<div id="project-slider" class="carousel slide boot-slider" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#project-slider" data-slide-to="0" class="active"></li>
							<li data-target="#project-slider" data-slide-to="1" class=""></li>
							<li data-target="#project-slider" data-slide-to="2" class=""></li>
							<li data-target="#project-slider" data-slide-to="3" class=""></li>
						</ol>

						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img class="img-responsive" src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/slider/cockpit.jpg" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/slider/annamia.jpg" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/slider/crew.jpg" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/slider/philmi.jpg" alt="">
							</div>
						</div>

						<a class="left carousel-control" href="#project-slider" role="button" data-slide="prev">
							<span class="fa fa-angle-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#project-slider" role="button" data-slide="next">
							<span class="fa fa-angle-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<div class="col-sm-6">
					<h3>Our philosophy</h3>
					<p>We know how important the <b>complementarity</b> between crew members are on board. Making this our <b>main objective</b>, we really take crew members <b>personality</b> and <b>skills</b> into consideration when putting canditates forth for a position. Being based in Juan les Pins the role of our <b>crew placement agency</b> is to take care of you on land &amp; at sea.</p>
				</div>

				<div class="text-center">
					<a href="https://www.k-yachtingservices.com/about-us" class="btn gradient secondary waves-effect waves-light mt-40">More about us</a>
				</div>
			</div>
		</div>
	</section>

	<section class="cta-candidate bg-fixed bg-cover overlay dark-5 padding-top-70 padding-bottom-50">
    <div class="container">
        <div class="row">
            <div class="valign-wrapper text-center">
                <div class="hero-intro valign-cell">
                    <h2 class="tt-headline clip is-full-width no-margin">
                        <span>You are </span>
						<span class="tt-words-wrapper" style="width: 429.288px; overflow: hidden;">
							<b class="is-hidden">Captain</b>
							<b class="is-hidden">Engineer</b>
							<b class="is-hidden">Deck officer</b>
							<b class="is-visible">Chief Stewardess</b>
							<b class="is-hidden">Stewardess</b>
							<b class="is-hidden">Chef</b>
						</span>
                    </h2>
                    <h3 class="c-secondary mb-30 no-margin">Sign-up and apply for jobs now</h3>
                    <p class="white-text section-sub">Each one of your skills is seen as precious resource to us, each one of your personality traits are considered as an added on value. Joining us is allowing our recruitment expertise and personal guidance to bring the best out in you by choosing the most suited position.</p>

                    <a href="https://www.k-yachtingservices.com/register" class="btn gradient secondary waves-effect waves-light mt-40">Join us</a>
                </div>
            </div>
        </div>
    </div>
</section>
	
	<section class="section-padding">
    <div class="container">
        <div class="text-center mb-40">
            <h2 class="section-title">Our Partners</h2>
            <p class="section-sub">Our interest in the sea and our philosophy of working together offer the guarantee of <b>mutual trust</b> that brings us as partners. Discover them, become them ...</p>
        </div>
        <div class="clients-grid gutter">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="border-box">
                        <img src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/client-logo/yacht-property-management.png" alt="Hydraulic Yacht Services">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="border-box">
                        <img src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/client-logo/marcojet.png" alt="Yacht Composite">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="border-box">
                        <img src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/client-logo/hydraulic-yacht-services.png" alt="Hydraulic Yacht Services">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="border-box">
                        <img src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/client-logo/yacht-composite.png" alt="Yacht Composite">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    </div>



{% endblock %}
