<form method="post" action="{{ path('customers_delete', {'idCustomer': customer.idCustomer}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.idCustomer) }}">
    <button class="btn">Delete</button>
</form>
