{% extends 'base.html.twig' %}

{% block title %}Customers index{% endblock %}

{% block body %}
    <h1>Customers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCustomer</th>
                <th>CompanyName</th>
                <th>CompanyType</th>
                <th>ContactName</th>
                <th>ContactPost</th>
                <th>ContactNumber</th>
                <th>ContactEmail</th>
                <th>Note</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.idCustomer }}</td>
                <td>{{ customer.companyName }}</td>
                <td>{{ customer.companyType }}</td>
                <td>{{ customer.contactName }}</td>
                <td>{{ customer.contactPost }}</td>
                <td>{{ customer.contactNumber }}</td>
                <td>{{ customer.contactEmail }}</td>
                <td>{{ customer.note }}</td>
                <td>{{ customer.createdAt ? customer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ customer.updatedAt ? customer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ customer.deletedAt ? customer.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('customers_show', {'idCustomer': customer.idCustomer}) }}">show</a>
                    <a href="{{ path('customers_edit', {'idCustomer': customer.idCustomer}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('customers_new') }}">Create new</a>
{% endblock %}
