{% extends 'base.html.twig' %}

{% block title %}Customers{% endblock %}

{% block body %}
    <h1>Customers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCustomer</th>
                <td>{{ customer.idCustomer }}</td>
            </tr>
            <tr>
                <th>CompanyName</th>
                <td>{{ customer.companyName }}</td>
            </tr>
            <tr>
                <th>CompanyType</th>
                <td>{{ customer.companyType }}</td>
            </tr>
            <tr>
                <th>ContactName</th>
                <td>{{ customer.contactName }}</td>
            </tr>
            <tr>
                <th>ContactPost</th>
                <td>{{ customer.contactPost }}</td>
            </tr>
            <tr>
                <th>ContactNumber</th>
                <td>{{ customer.contactNumber }}</td>
            </tr>
            <tr>
                <th>ContactEmail</th>
                <td>{{ customer.contactEmail }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ customer.note }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ customer.createdAt ? customer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ customer.updatedAt ? customer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ customer.deletedAt ? customer.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('customers_index') }}">back to list</a>

    <a href="{{ path('customers_edit', {'idCustomer': customer.idCustomer}) }}">edit</a>

    {{ include('customers/_delete_form.html.twig') }}
{% endblock %}
