<form method="post" action="{{ path('offers_delete', {'idOffer': offer.idOffer}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offer.idOffer) }}">
    <button class="btn">Delete</button>
</form>
