{% extends 'base.html.twig' %}

{% block title %}Offers{% endblock %}

{% block content %}

    

    <!-- Page -->
    <div class="page">

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="white-text">{{ offer.jobTitle }}</h2>
                    <span class="white-text">{{ offer.reference }}</span>
                    <ol class="breadcrumb">
                        <li>
                            <div class="portfolio-nav">
                    <a href="#" class="waves-effect waves-dark"><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a>
                     <a href="#"  class="waves-effect waves-dark"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                      <a href="#"  class="waves-effect waves-dark">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                 </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Page Content-->
            <section class="single-project-section section-padding">
        <div class="container">
            <div class="project-overview">
                <div class="row mb-80">
                    <div class="col-xs-12 col-md-8">
                        <p class="ref grey-text no-margin">{{ offer.reference }}</p>
                        <h2>{{ offer.jobTitle }}</h2>
                        <p>{{ offer.description }}</p>
                    </div>

                    <div class="col-xs-12 col-md-4 quick-overview">
                        <ul class="portfolio-meta">
                            <li><span> Pulished at </span>{{ offer.creationDate|date("m/d/Y") }}</li>
                            <li><span> Position </span>{{ offer.jobTitle }}</li>
                            <li><span> Contract Type </span>{{ offer.jobType }}</li>
                            <li><span> Salary </span>{{ offer.salary }}</li>
                            <li><span> Location </span>{{ offer.location }}</li>
                            <li><span> Boarding date </span>2018-12-01</li>
                        </ul>
                        

                            
                            <a class="btn btn-block gradient secondary mt-30 waves-effect waves-light" href="{{ path('offers_candidate',{'idOffer': offer.idOffer }) }}">Apply for this
                                job</a>
                                                </div>
                </div>
            </div>

            <nav class="single-post-navigation no-margin" role="navigation">
                <div class="row">

                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <div class="previous-post-link">
                            <a class="btn border primary waves-effect waves-dark" href="{{ path('offers_show',{'idOffer': previousOffer.idOffer }) }}">
                                <i class="fa fa-long-arrow-left"></i>Previous
                            </a>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-4"></div>


                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <div class="next-post-link">
                            <a class="btn border primary waves-effect waves-dark" href="{{ path('offers_show',{'idOffer': nextOffer.idOffer }) }}">
                                Next <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </section>

    <section class="cta-candidate bg-fixed bg-cover overlay dark-5 padding-top-70 padding-bottom-50">
    <div class="container">
        <div class="row">
            <div class="valign-wrapper text-center">
                <div class="hero-intro valign-cell">
                    <h2 class="tt-headline clip is-full-width no-margin">
                        <span>You are </span>
						<span class="tt-words-wrapper" style="width: 124px;">
							<b class="is-hidden">Captain</b>
							<b class="is-hidden">Engineer</b>
							<b class="is-hidden">Deck officer</b>
							<b class="is-hidden">Chief Stewardess</b>
							<b class="is-hidden">Stewardess</b>
							<b class="is-visible">Chef</b>
						</span>
                    </h2>
                    <h3 class="c-secondary mb-30 no-margin">Sign-up and apply for jobs now</h3>
                    <p class="white-text section-sub">Each one of your skills is seen as precious resource to us, each one of your personality traits are considered as an added on value. Joining us is allowing our recruitment expertise and personal guidance to bring the best out in you by choosing the most suited position.</p>

                    <a href="https://www.k-yachtingservices.com/register" class="btn gradient secondary waves-effect waves-light mt-40">Join us</a>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="section-padding">
    <div class="container">
        <div class="text-center mb-40">
            <h2 class="section-title">Our Partners</h2>
            <p class="section-sub">Our interest in the sea and our philosophy of working together offer the guarantee of <b>mutual trust</b> that brings us as partners. Discover them, become them ...</p>
        </div>
        <div class="clients-grid gutter">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="border-box">
                        <img src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/client-logo/yacht-property-management.png" alt="Hydraulic Yacht Services">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="border-box">
                        <img src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/client-logo/marcojet.png" alt="Yacht Composite">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="border-box">
                        <img src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/client-logo/hydraulic-yacht-services.png" alt="Hydraulic Yacht Services">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="border-box">
                        <img src="https://www.k-yachtingservices.com/themes/frontend/kys/assets/kys/img/client-logo/yacht-composite.png" alt="Yacht Composite">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    </div>


{% endblock %}
