<form method="post" action="{{ path('candidates_delete', {'idUser': candidate.idUser}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidate.idUser) }}">
    <button class="btn">Delete</button>
</form>
