{% extends 'base.html.twig' %}

{% block title %}Candidates index{% endblock %}

{% block body %}
    <h1>Candidates index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdUser</th>
                <th>IdOffer</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.idUser }}</td>
                <td>{{ candidate.idOffer }}</td>
                <td>{{ candidate.createdAt ? candidate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidate.updatedAt ? candidate.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidate.deletedAt ? candidate.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('candidates_show', {'idUser': candidate.idUser}) }}">show</a>
                    <a href="{{ path('candidates_edit', {'idUser': candidate.idUser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidates_new') }}">Create new</a>
{% endblock %}
