{% extends 'base.html.twig' %}

{% block title %}Candidates{% endblock %}

{% block body %}
    <h1>Candidates</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdUser</th>
                <td>{{ candidate.idUser }}</td>
            </tr>
            <tr>
                <th>IdOffer</th>
                <td>{{ candidate.idOffer }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ candidate.createdAt ? candidate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ candidate.updatedAt ? candidate.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ candidate.deletedAt ? candidate.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidates_index') }}">back to list</a>

    <a href="{{ path('candidates_edit', {'idUser': candidate.idUser}) }}">edit</a>

    {{ include('candidates/_delete_form.html.twig') }}
{% endblock %}
