{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdUser</th>
                <td>{{ user.idUser }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ user.adress }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ user.nationality }}</td>
            </tr>
            <tr>
                <th>Passport</th>
                <td>{{ user.passport }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{{ user.cv }}</td>
            </tr>
            <tr>
                <th>ProfilPicture</th>
                <td>{{ user.profilPicture }}</td>
            </tr>
            <tr>
                <th>CurrentLocation</th>
                <td>{{ user.currentLocation }}</td>
            </tr>
            <tr>
                <th>DateBirth</th>
                <td>{{ user.dateBirth ? user.dateBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PlaceBirth</th>
                <td>{{ user.placeBirth }}</td>
            </tr>
            <tr>
                <th>EmailAdress</th>
                <td>{{ user.emailAdress }}</td>
            </tr>
            <tr>
                <th>EmailComfirm</th>
                <td>{{ user.emailComfirm }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>PasswordComfirm</th>
                <td>{{ user.passwordComfirm }}</td>
            </tr>
            <tr>
                <th>Availability</th>
                <td>{{ user.availability ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>JobSector</th>
                <td>{{ user.jobSector }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ user.experience }}</td>
            </tr>
            <tr>
                <th>ShortDescription</th>
                <td>{{ user.shortDescription }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ user.note }}</td>
            </tr>
            <tr>
                <th>DateCreated</th>
                <td>{{ user.dateCreated }}</td>
            </tr>
            <tr>
                <th>DateUpdated</th>
                <td>{{ user.dateUpdated }}</td>
            </tr>
            <tr>
                <th>DateDeleted</th>
                <td>{{ user.dateDeleted }}</td>
            </tr>
            <tr>
                <th>Files</th>
                <td>{{ user.files }}</td>
            </tr>
            <tr>
                <th>IsAdmin</th>
                <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ user.deletedAt ? user.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('users_index') }}">back to list</a>

    <a href="{{ path('users_edit', {'idUser': user.idUser}) }}">edit</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
